@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-1">Days of the Week -Online</h1>
    <h1 class="display-4">Sojourners favorite game :)</h1>
    <hr />
    <a class="btn btn-lg btn-primary" asp-area="" asp-page="/Room/Join">Join a Room</a>
</div>
